{% extends "layout.html" %}
{% block content %}
{% with username=user %}
{% include "navbar.html" %}
{% endwith %}

<form id="edit" action="/editIdea" method="post">
  <input name="ideaId" type="hidden" value= "{{idea._id}}"/>
  <input name="username" type="hidden" value= "{{idea.username}}"/>
  <input name="ideaName" type="text" value= "{{idea.name}}" required/>
  <input name="desc" type="textarea" value= "{{idea.desc}}" required/>
  <select form="edit" name="cat" required>
    <option value="Health">Health</option>
    <option value="Technology">Technology</option>
    <option value="Education">Education</option>
    <option value="Finance">Finance</option>
    <option value="Travel">Travel</option>
  </select>
  <input name="tags" type="text" value= "{% for tag in idea.tags %} {{tag}}, {% endfor %}" />
  <input name="delete" type="checkbox">delete?
  <input type="submit" value="update"/>
</form>

{% endblock %}