{% extends "layout.html" %}
{% block content %}
{% with username=user %}
{% include "navbar.html" %}
{% endwith %}

{% if idea %}

<form action="/editIdea" method="post">
  <input name="ideaId" type="hidden" value={{idea._id}}/>
  <input name="username" type="hidden" value={{idea.username}}/>
  <input name="ideaName" type="text" value={{idea.name}} required/>
  <input name="desc" type="textarea" value={{idea.desc}} required/>
  <input type="submit" value="update"/>
</form>

{% else %}

<form action="/editIdea" method="post">
  <input name="username" type="hidden" value={{idea.username}}/>
  <input name="ideaName" type="text" placeholder="Idea Name"/>
  <input name="desc" type="textarea" placeholder="Your idea here!"/>
  <input type="submit" value="update"/>
</form>

{% endif %}

