{% extends "layout.html" %}
{% block content %}
{% with username=user %}
{% include "navbar.html" %}
{% endwith %}

<form id="new" action="/newIdea" method="post">
  <input name="ideaId" type="hidden" value=0 />
  <input name="username" type="hidden" value="{{user}}"/>
  <input name="ideaName" type="text" placeholder="Idea Name"/>
  <input name="desc" type="textarea" placeholder="Your idea here!"/>
  <select form="new" name="cat" required>
    <option value="Health">Health</option>
    <option value="Technology">Technology</option>
    <option value="Education">Education</option>
    <option value="Finance">Finance</option>
    <option value="Travel">Travel</option>
  </select>
  <input name="tags" type="text" placeholder="please separate tags with commas" />
  <input type="submit" value="Create"/>
</form>

{% endblock %}